--extra-index-url=https://download.pytorch.org/whl/cu128
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
numpy
sounddevice
soundfile
librosa
# Transformers from main branch (GitHub)
git+https://github.com/huggingface/transformers.git@main